.centerText{
    text-align:center;
}
.contactText{
    color:#002758;
    font-weight: bold;
    font-size: 36px;
}
.contentContact{
    --background:#DDD;
}
.panelContact{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: white;
    border: 1px solid gray;
    border-radius:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right: 16px;
    margin-left: 16px;

}
.panelSeparator{
    background: #AAA;
    height:1px;
    width:auto;
    margin-top: 5px;
    margin-right:30px;
    margin-left:30px;
    padding-top:0px;
}
.centerContent{
    text-align: center;
}
.simpleContactText{
    color: #606060;
    font-size:20px;
    margin-top:10px;
    text-decoration: none;
}
.callText{
    color:#606060;
    margin-top:10px;
    margin:0px;
}
.phoneIMG{
    filter:invert(100%);
    height:20px;
    margin-right:10px;
}
.itemEmail{
    --border-color: transparent;
    --background: white;
}

ion-header{
    position:unset;
    background:#DDD;
}

.noPadding{
    padding:0px;
}

#colNumber{
    margin-bottom:5px;
}