<ion-header>
  <div class="centerText">
    <h1 class="contactText">Contáctanos</h1>
  </div>
</ion-header>

<ion-content class="contentContact">
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card class="panelContact">
          <ion-grid class="noPadding">
            <ion-row>
              <ion-col class="noPadding">
                <img src="../../../assets/Assets/BSAS1.jpg">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <h1 class="callText">Llamar a Subcargo</h1>
              </ion-col>
            </ion-row>
            <div class="panelSeparator"></div>
            <ion-row>
              <ion-col class="ion-text-center">
                <a class="simpleContactText" href="mailto:info@subcargo.cl">info@subcargo.cl</a>
              </ion-col>
            </ion-row>
            <div class="panelSeparator"></div>
            <ion-row>
              <ion-col id="colNumber" class="ion-text-center">
                <ion-label class="simpleContactText">
                  <img src="../../../assets/Assets/telefono.png" class="phoneIMG">
                  <a href="tel:+56997945142" class="simpleContactText">Click para llamar!</a>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
