<ion-header class="removeShadowRightMenu">
  <ion-grid class="removePadding">
    <ion-row class="removePadding"> 
      <ion-col class="removePadding" size="2">
        <ion-button class="removeColorsButton backButton" expand="full" style="--background:#002758" (click)="closeModal()">
          <ion-icon name="chevron-back-outline" class="backIcon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="removePadding ion-text-left" style="background:white">
        <h1 class="headerText">Registrarse</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ContentModal">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/Assets/TC1.jpg"/>
        <img src="../../../assets/Assets/TC2.jpg"/>
        <img src="../../../assets/Assets/TC3.jpg"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="removeColorsButton" expand="full" style="--background:#002758;margin-bottom:10px;" (click)="registroCompleto()">
    <h1 class="textBlue" style="color:white">REGISTRARSE</h1>
  </ion-button>
</ion-content>
