.contentNotificaciones{
    --background:#DDD;
}
.msgNone{
    color: #AAA;
    font-size: 85%;
    margin:0px;
}
.centerColText{
    text-align:center;
}
.centerGrid{
    position:fixed;
    top:45%; 
    width: 100%;
}
.notificacionesTitle{
    color: #002758;
    font-weight: bold;
    font-size: 36px;
}
.dateDay{
    color:#606060;
    font-size:26px;
    margin:0px;
    padding:0px;
}
.dateMonth{
    color:#606060;
    font-size:8px;
    margin:0px;
    padding:0px;
}
.dateYear{
    color:#606060;
    font-size:10px;
    margin:0px;
    padding:0px;
}
.leftContent{
    text-align: left;
}
.notificacionesTextTitle{
    color:#606060;
    font-size: 14px;
    font-weight: bold;
    margin:0px;
    padding:0px;
}
.notificacionesTextContent{
    color:#606060;
    font-size: 14px;
    margin:0px;
    padding:0px;
}
.headerNotificaciones{
    position:unset;
    background:#DDD;
}
.rowNotificaciones{
    margin-top:15px;
    margin-bottom:15px;
}

ion-header{
    position:unset;
    background:#DDD;
}
/*.notificacionesItem{
    --border-color: transparent;
    --background: #DDD;
}*/