<ion-header class="headerNotificaciones">
  <div class="centerColText">
    <h1 class="notificacionesTitle">Notificaciones</h1>
  </div>
</ion-header> 
<ion-content class="contentNotificaciones">
  
  <ng-template *ngIf="notificaciones?.length >0;then existenNotificaciones;else noExistenNotificaciones"></ng-template>
  <ng-template #noExistenNotificaciones>
    <ion-grid class="centerGrid">
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col class="centerColText">
                <h2 class="msgNone">Sin notificaciones</h2>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
  </ng-template>
  <ng-template #existenNotificaciones>
    <ion-grid>
      <ion-row *ngFor="let notificacion of notificaciones.reverse()" class="rowNotificaciones">
        <ion-col class="ion-text-center" size="3">
          <h1 class="dateDay">{{notificacion.createdAt | date:'dd'}}</h1>
          <h1 class="dateMonth">{{notificacion.createdAt | date:'MMMM':undefined:'es-CL' | titlecase}}</h1>
          <h1 class="dateYear">{{notificacion.createdAt | date:'YYYY'}}</h1>
        </ion-col>
        <ion-col class="ion-text-center">
          <h1 class="notificacionesTextTitle">{{notificacion.titulo}}</h1>
          <h1 class="notificacionesTextContent">{{notificacion.mensaje}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
