<ion-header>
  <div class="centerText">
    <h1 class="datosText">Mis Servicios</h1>
  </div>
</ion-header>

<ion-content class="datosContent">
  <ion-refresher slot="fixed" (ionRefresh)="refrescarPagina($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row *ngFor="let solicitud of solicitudes | paginate: { itemsPerPage: 25, currentPage: params.page, totalItems: totalItems }">
      <ion-col>
        <app-solicitud [options]="solicitudOptions" [valueToDisplay]="solicitud"></app-solicitud>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="solicitudes.lenght > 0" class="page-container">
      <ion-col>
          <pagination-controls 
          previousLabel=""
          nextLabel=""
          (pageChange)="cambioDePagina($event)"></pagination-controls>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
