<ion-card>
  <ion-grid>
    <ng-container *ngFor="let key of objectKeys(valueToDisplay).reverse() | excludePipe:options.propertiesToExclude; let last=last">
      <ion-row style="margin-top:10px" >
        <ion-col>
          <div class="ion-text-left">
            <h1 class="textBlue">{{key | titlecase}}</h1>
            <h1 class="textGray">{{valueToDisplay[key]}}</h1>
          </div>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
      <div class="menuSeparator" *ngIf="!last"></div>
    </ng-container>
    <ion-row class="  ">
      <ion-col class="deleteCamion" size="{{options.displayEditButton ? '2':''}}" *ngIf="options.displayDeleteButton">
        <ion-button expand="full"(click)="deleteEntry(valueToDisplay)" class="removeColorsButton backButton trashButton" style="--background:#FF616D" [ngClass]="!options.displayEditButton ? 'h-30px' : ''">
          <img src="../../../assets/Assets/trash.png" [ngClass]="!options.displayEditButton ? 'h-22px' : ''">
        </ion-button>
      </ion-col>
      <div style="margin-right:5px;margin-left:5px" *ngIf="options.displayDeleteButton"></div>
      <ion-col class="editCamion" *ngIf="options.displayEditButton">
        <ion-button expand="full"(click)="editEntry(valueToDisplay)" class="removeColorsButton backButton trashButton" style="--background:#002758">
          <h1 class="textEditButton" style="margin-top:12px;margin-bottom:12px;">VER/EDITAR</h1>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>