ion-card {
    width: 100%;
    background: white;
    margin: 0px;
}

.stickyButtonContainer{
    border-radius: 50%;
    bottom: 1%;
    right: 5%;
    border: 2px solid #DDD;
    z-index: 9999;
}
.stickyButton{
    width: 48px;
    --min-width:48px;
    --border-radius:50%;
}
.textEditButton{
    color:white;
    font-size:16px;
    text-align: center;
    margin:0px;
    font-weight: bold;
    width:100%;
}
.stickyButtonText{
    padding-top:50%;
    font-size:26px;
    height:100%;
    width:100%;
}
.deleteEntry{
    margin-right:5px;
    padding:0px;
}
.menuSeparator{
    border: 1px solid #DDD
}
.positiveBorder{
    border:1px solid #4caf50;
    color: #4caf50;
}
.negativeBorder{
    border:1px solid #FF616D;
    color: #FF616D;
}
.trashButton{
    --padding-start:8px;
    --padding-end:8px;
}
.editButton{
    --highlight-height:0px;
    --background: #002758;
    --border-color:transparent;
}
.textBlue{
    color:#002758;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}
.textGray{
    color:#AAA;
    font-size:14px;
    margin:0px;
}
.removeColorsButton{
    --background-hover:unset;
    --background-activated:unset;
    --background-focused:unset;
}
.backButton{
    height:100%;
    margin:0px;
}
.h-22px {
    height: 22px;
}
.h-30px {
    height: 30px;
}