.headerText{
    font-size: 20px;
    margin-top:12px;
    color:#002758;
    margin-left:10px;
    font-weight: unset;
}
.removeShadowRightMenu{
    position: unset;
}
.removePadding{
    padding:0px;
}
.removeSidesPadding{
    padding-right: 0px;
    padding-left: 0px;
}
.removeTopBottomPadding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.backButton{
    height:100%;
    margin:0px;
}
.backIcon{
    color:white;
    font-size: 30px;
}
.ContentModal{
    --background: #DDD
}

.textBlue{
    color:#002758;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}
.textGray{
    color:#AAA;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}
.inputItem{
    color: black;
    --background: white;
    margin-top:4px;
    --border-color:transparent;
    --highlight-height: 0px;
    border-radius: 10px;
    margin-top:5px;
    margin-bottom:5px;
}
.inputText{
    text-align:left;
}
.removeColorsButton{
    --background-hover:unset;
    --background-activated:unset;
    --background-focused:unset;
}

.removePadding, .ion-text-left{
    background:white;
}
.customSelect {
    padding-left:0px;
    max-width: 100%;
    width:100%;
    .select-interface-option {
        font-size: 10px;
    }
}
#registroForm{
    width:100%;
}