<ion-header class="removeShadowRightMenu">
  <ion-grid class="removePadding">
    <ion-row class="removePadding"> 
      <ion-col class="removePadding" size="2">
        <ion-button class="removeColorsButton backButton" expand="full" style="--background:#002758" (click)="closeModal()">
          <ion-icon name="chevron-back-outline" class="backIcon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="removePadding ion-text-left">
        <h1 class="headerText">Registrarse</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ContentModal">
  <form id="registroForm" [formGroup]="registroForm" (ngSubmit)="registrarse()" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="textBlue" *ngIf="empresaOCliente">Razón social / Nombre empresa</h1>
          <h1 class="textBlue" *ngIf="!empresaOCliente">Nombre persona natural</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="nombre" placeholder="{{empresaOCliente == true ? 'Razón social / Nombre empresa':'Nombre'}}" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue" *ngIf="empresaOCliente">Rut empresa (XXXXXXXX-X):</h1>
          <h1 class="textBlue" *ngIf="!empresaOCliente">Rut Persona Natural (XXXXXXXX-X):</h1>
        <ion-item class="inputItem">
          <ion-input #rut formControlName="username" placeholder="Rut" type="text" (ionInput)="rutChange(rut)"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Teléfono de contacto:</h1>
        <ion-item class="inputItem">
          <ion-input formControlName="telefono" placeholder="Teléfono" type="tel"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Correo electrónico:</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="email" placeholder="Correo electrónico" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="empresaOCliente">
        <ion-col>
          <h1 class="textBlue">Nombre del Representante legal:</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="representanteLegal" placeholder="Nombre representante legal" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="empresaOCliente">
        <ion-col>
          <h1 class="textBlue">Rut del Representante legal:</h1>
          <ion-item class="inputItem">
            <ion-input #rutRepresentante formControlName="rutRepresentanteLegal" placeholder="Dirección comercial" type="text" (ionInput)="rutChange(rutRepresentante)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="empresaOCliente">
        <ion-col>
          <h1 class="textBlue">Dirección comercial:</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="direccionComercial" placeholder="Dirección comercial" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Tipo de pago:</h1>
          <ion-item class="inputItem">
            <ion-select formControlName="tipoDePago" placeholder="Tipo de pago" style="width: 100%" 
            class="customSelect" 
            interface="alert" 
            [interfaceOptions]="selectTipoDePago" 
            cancel-text="Cancelar" >
              <ion-select-option [value]="1">A 30 Días</ion-select-option>
              <ion-select-option [value]="2">A 60 Días</ion-select-option>
              <ion-select-option [value]="3">A 90 Días</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="empresaOCliente">
        <ion-col>
          <h1 class="textBlue">Giro de la Empresa:</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="giroDeLaEmpresa" placeholder="Giro" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="empresaOCliente">
        <ion-col>
          <h1 class="textBlue">Rubro:</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="rubro" placeholder="Rubro" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Contraseña</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="password" placeholder="Contraseña" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Repita la contraseña:</h1>
          <ion-item class="inputItem">
            <ion-input formControlName="password2" placeholder="Contraseña" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="removeColorsButton" expand="full" style="--background:#002758;margin-bottom:10px;" type="'submit">
      <h1 class="textBlue" style="color:white">REGISTRARSE</h1>
    </ion-button>
  </form>
</ion-content>