<ion-card (click)="displayModalDetallesSolicitud()">
  <ion-grid class="removePadding">
    <ion-row class="ion-text-center" [ngSwitch]="valueToDisplay?.estado">
      <ng-template ngSwitchCase="0">
        <ion-col style="background:#d0d7dd;">
          <h1 class="textEstado" style="color:white">ESTADO: Borrador</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="1">
        <ion-col style="background:#8ac4ff;">
          <h1 class="textEstado" style="color:white">ESTADO: Ofertando</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="2">
        <ion-col style="background:#8ac4ff;">
          <h1 class="textEstado" style="color:white">ESTADO: Espera de Aprobacion</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="3">
        <ion-col style="background:#B3001B;">
          <h1 class="textEstado" style="color:white">ESTADO: Cancelada por cliente</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="4">
        <ion-col style="background:#B3001B;">
          <h1 class="textEstado" style="color:white">ESTADO: Cancelada por transportista</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="5">
        <ion-col style="background:#E3B505;">
          <h1 class="textEstado" style="color:white">ESTADO: Agendada</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="6">
        <ion-col style="background:#B3001B;">
          <h1 class="textEstado" style="color:white">ESTADO: Finalizada - Sin Ofertas o Adjudicacion</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="7">
        <ion-col style="background:#E3B505;">
          <h1 class="textEstado" style="color:white">ESTADO: Realizada</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="8">
        <ion-col style="background:#E3B505;">
          <h1 class="textEstado" style="color:white">ESTADO: Esperando transferencia de Linea</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="9">
        <ion-col style="background:#002758;">
          <h1 class="textEstado" style="color:white">ESTADO: En curso a dirección inicial</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="10">
        <ion-col style="background:#002758;">
          <h1 class="textEstado" style="color:white">ESTADO: En curso a dirección de carga intermedia</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="11">
        <ion-col style="background:#002758;">
          <h1 class="textEstado" style="color:white">ESTADO: En espera de fotos de carga y de despacho</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="12">
        <ion-col style="background:#002758;">
          <h1 class="textEstado" style="color:white">ESTADO: En curso a dirección final</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="13">
        <ion-col style="background:#002758;">
            <h1 class="textEstado" style="color:white">ESTADO: En curso a dirección de descarga intermedia</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="14">
        <ion-col style="background:#002758;">
            <h1 class="textEstado" style="color:white">ESTADO: En espera de fotos de carga y de despacho firmada</h1>
        </ion-col>
      </ng-template>
      <ng-template [ngSwitchCase]="15">
        <ion-col style="background:#65B891;">
            <h1 class="textEstado" style="color:white">ESTADO: Terminada</h1>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top:5px">
          <h1 class="textCardPane1">Cliente</h1>
          <h1 class="textCardPane1" style="font-size:24px">{{valueToDisplay?.cliente?.nombre}}</h1>
      </ion-col>
      <ion-col size="4" style="margin-top:5px">
          <div class="ion-text-right">
              <h1 class="textID">Nº Solicitud</h1>
              <h1 class="textEstado">{{valueToDisplay?.numero}}</h1>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <h1 class="textCardPane1">Tipo de Carga</h1>
          <h1 class="textEstado">{{listaDeCargas[(valueToDisplay?.cargaATransportarLista | parseIntPipe)]}}</h1>
      </ion-col>
      <ion-col>
        <div class="ion-text-right" *ngIf="valueToDisplay?.estado == '1'">
          <h1 class="textCardPane1">Ver Ofertas</h1>
          <ion-button class="botonOfertas" (click)="displayModalOfertas();$event.stopPropagation()"><ion-icon name="cash-outline"></ion-icon></ion-button>
        </div>
        <div class="ion-text-right" *ngIf="valueToDisplay?.estado == '0' || valueToDisplay?.estado == '3' || valueToDisplay?.estado == '4' || valueToDisplay?.estado == '5'|| valueToDisplay?.estado > 8">
          <h1 class="textCardPane1">Monto Pactado</h1>
          <h1 class="textEstado">{{valueToDisplay?.estado == '0' ? ' -- ': !valueToDisplay?.montoNetoPactado ? ' -- ':'$ '+valueToDisplay?.montoNetoPactado}}</h1>
          <ng-container *ngIf="valueToDisplay?.estado == '3' || valueToDisplay?.estado == '4' || valueToDisplay?.estado == '15'">
            <h1 class="textEstado2" *ngIf="valueToDisplay?.montoSobrecostosCliente > 0"> + $ {{valueToDisplay?.montoSobrecostosCliente}}</h1>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top:5px">
        <h1 class="textCardPane1">{{valueToDisplay?.fechaDeSolicitudDeTransporte | date:'dd/MM/YYYY':'es-CL'}}</h1>
        <h1 class="textEstado">{{valueToDisplay?.fechaDeSolicitudDeTransporte | date:'HH:mm':'es-CL'}} HRS.</h1>
      </ion-col>
      <ion-col style="margin-top:5px" size="3">
        <div class="ion-text-right">
          <h1 class="textCardPane1">{{valueToDisplay?.cantidadDeKM}}</h1>
          <h1 class="textEstado">{{valueToDisplay?.duracionDeRuta}}</h1>
        </div>
      </ion-col>
    </ion-row>
    <div class="cardSeparator"></div>
    <ion-row *ngIf="valueToDisplay?.estado == '5' || valueToDisplay?.estado > '8'">
      <ion-col style="margin-top:5px">
        <h1 class="textCardPane1">Transportista</h1>
        <h1 class="textEstado">{{valueToDisplay?.transportista.nombre}}</h1>
      </ion-col>
      <ion-col style="margin-top:5px" size="3">
        <div class="ion-text-right">
          <h1 class="textCardPane1">Camion</h1>
          <h1 class="textEstado">{{valueToDisplay?.camion.patente}}</h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="2"></ion-col>
      <ion-col>
          <ion-button expand="full" class="botonMensajes" (click)="displayModalMensajes();$event.stopPropagation()"
          [ngClass]="valueToDisplay?.remitenteTransportista ? 'mensajesLeidos': valueToDisplay?.remitenteTransportista === false ? 'mensajesSinLeer': valueToDisplay?.remitenteTransportista === undefined ? 'sinMensajes': 'sinMensajes'">
            <h1 class="textCardPane1 textoMensajes" 
              [ngClass]="valueToDisplay?.remitenteTransportista ? 'mensajesLeidosTexto': valueToDisplay?.remitenteTransportista === false ? 'mensajesSinLeerTexto': valueToDisplay?.remitenteTransportista === undefined ? 'sinMensajesTexto': 'sinMensajesTexto'">Mensajes</h1>
          </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row class="AddressROW">
      <ion-col>
          <img src="../../../assets/Assets/pin.png" class="AddressPin" style="margin-left:40%">
          <h1 class="AddressText" >{{valueToDisplay?.direccionDeInicio ? valueToDisplay?.direccionDeInicio:' -- '}}</h1>
      </ion-col>
      <img src="../../../assets/Assets/FlechaDirec.png" style="height:24px;margin-top:auto;margin-bottom: auto;">
      <ion-col>
          <img src="../../../assets/Assets/pin.png" class="AddressPin" style="margin-left: 40%;">
          <h1 class="AddressText">{{valueToDisplay?.direccionDeTermino ? valueToDisplay?.direccionDeTermino: ' -- '}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>