ion-card {
    width: 100%;
    background: white;
    margin: 0px;
    
}

.textEstado{
    color:#AAA;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}

.textEstado2{
    color:rgb(248, 48, 48);
    font-size:14px;
    margin:0px;
    font-weight: bold;
}
.textCardPane1{
    color:#002758;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}

.textID{
    margin:0px;
    font-size: 10px;
    color: #002758;
}
.removePadding {
    padding: 0px;
}
.botonOfertas{
    width: 70px;
    --background: #FF616D;
    height: 35px;
}
.botonMensajes {
    --background: white;
    border-style: solid;
    border-width: 4px;
}
.mensajesSinLeer {
    border-color: #FF616D;
}
.mensajesLeidos {
    border-color: #65B891;
}
.sinMensajes {
    border-color: #002758;
}
.mensajesSinLeerTexto {
    color: #FF616D;
}
.mensajesLeidosTexto {
    color: #65B891;
}
.sinMensajesTexto {
    color: #002758;
}
.textoMensajes {
    font-size: 8px;
}
.cardSeparator{
    border: 1px solid #DDD;
    margin-left: 5px;
    margin-right: 5px;
}

.AddressROW{
    border: 1px solid #DDD;
}
.AddressSeparator{
    border: 1px solid #DDD;
}
.AddressText{
    font-size: 12px;
    margin: 10px;
}
.AddressPin{
    height:24px;
    margin-left:auto;
    margin-right:auto;
    filter: invert(60%) sepia(95%) saturate(2825%) hue-rotate(317deg) brightness(99%) contrast(117%);
}