#formLogin{
    width:100%;
    height:100%;
}

.background-image{
    --background: url(../../../assets/Assets/LogIn.jpg) 100%;
}

.buttonsDown {
    position: fixed;
    bottom: 75px;
    width: 100%;
}
.loginGrid{
    /*position:fixed;
    width: 100%;
    top:35%;*/
    position: absolute;
    width: 100%;
    height:100%;
}
.loginCol {
    height:200px;
    padding: 0px;
}
.loginDiv{
    height: 100%;
    border:2px solid rgba(255, 255, 255);
    border-radius: 15px;
    text-align: center;
}
.loginInput{
    --background: white;
    color:black;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
}
.loginItem{
    --background: white;
    margin-top:4px;
    --highlight-height: 0px;
    border-radius: 100px;
    --border-radius:100px;
    margin-left: 15px;
    margin-right: 15px;
}
.buttonTextProperties{
    margin-top: 0px;
    margin-bottom: 0px;
}
.buttonText{
    --border-radius: 0px;
    --background: transparent;
}
.loginInputImg{
    height:25px;
}
.loginTitle{
    margin-bottom: 10px;
    color: white;
}
.logoLogin{
    left:0;
    right:0;
    margin:0 auto;
    top:10%;
    height:20%;
    position:absolute;
    background-color: transparent;
    z-index:3000001
}
.BG{
    height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;
    background-image: url(../../../assets/Assets/LogIn.jpg);
    background-size: 200% 100%;
    background-position: center bottom;
}
.blueOverlay{
    height:100%; 
    background: #002758; 
    opacity:0.2;
    position:absolute;
    width:100%
}
.marginTopRow{
    margin-top:15%
}
.marginBottomRow{
    margin-bottom:25%
}
.loginLogo{
    height:30%
}
.removeColorsButton{
    --background-hover:unset;
    --background-activated:unset;
    --background-focused:unset;
}

.subcargoLogo > ion-col{
    text-align: center;
}

.buttonText, .removeColorsButton > .buttonTextProperties{
    font-size: 12px;
}
.errorIcon {
    color: #FF616D;
}
.checkIcon {
    color: #4caf50;
}
