
<div class="BG">
  <ion-content style="--background:none" fullscreen scroll-y="true">
    <ion-grid class="loginGrid">
        <br>
        <br>
        <ion-row class="subcargoLogo">
          <ion-col>
            <img class="loginLogo" src="../../../assets/Assets/logo-blanco.png">
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="subcargoLogin">
          <ion-col size="1"></ion-col>
          <ion-col class="loginCol"> 
            <div class="loginDiv">
              <h5 class="loginTitle">INGRESO CLIENTES</h5>
              <ion-item class="loginItem">
                <img class="loginInputImg" src="../../../assets/Assets/ruticon.png">
                <ion-input class="loginInput" #usuarioUsername
                 placeholder="Rut sin puntos y con guión" type="text" (ionInput)="inputRutChange()"
                 ></ion-input>
              </ion-item>
              <ion-item class="loginItem">
                <img class="loginInputImg" src="../../../assets/Assets/Contrasenaicon.png">
                <ion-input #usuarioPassword class="loginInput" placeholder="Tu contraseña" type="password"></ion-input>
              </ion-item>

              <ion-button class="buttonText removeColorsButton" (click)='recoverPassword()'>
                <h4 class="buttonTextProperties">OLVIDÉ MI CONTRASEÑA</h4>
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <br>
        <br>
        <br>
        <br>
        <ion-row class="subcargoIngresar">
          <ion-col></ion-col>
          <ion-col size="6">
            <ion-button class="removeColorsButton" style="--background: #FF616D;--border-radius: 0px;" 
            expand="block" type="submit" (click)="iniciarSesion(usuarioUsername.value, usuarioPassword.value)">INGRESAR</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row class="subcargoRegistrar">
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-button class="buttonText removeColorsButton" expand="block" (click)='registerUser(false)'>
              <ion-label class="buttonTextProperties">¡Regístrate como&nbsp;</ion-label>
              <br>
              <ion-label class="buttonTextProperties" style="color:#FF616D">Persona natural</ion-label>!
            </ion-button>
            
            <ion-button class="buttonText removeColorsButton" expand="block" (click)='registerUser(true)'>
              <ion-label class="buttonTextProperties">¡Regístrate como&nbsp;</ion-label>
              <br>
              <ion-label class="buttonTextProperties" style="color:#FF616D">Empresa</ion-label>!
            </ion-button>
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
</div>
