<ion-header>
  <div class="centerText">
    <h1 class="datosText">Calendario</h1>
  </div>
</ion-header>

<ion-content class="datosContent">
  <ion-refresher slot="fixed" (ionRefresh)="refrescarPagina($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    
  </ion-grid>
</ion-content>
