<ion-app>
  <ion-menu side="start" menuId="sidemenu" content-id="main-content" class="menuSize" swipeGesture="false">
    <ion-header class="removeShadow">
      <ion-toolbar class="menuToolbar">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="../assets/Assets/logo-blanco.png" class="menuLogo">
              <div class="containerTextToolbar">
                <h1 class="menuToolbarText">{{user?.nombre}}</h1>
                <h2 class="menuToolbarSubtext">{{user?.rut}}</h2>
                <div class="menuHeaderSeparator"></div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menuContent">
      <ion-list class="menuList">  
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/tabs/destinatarios" routerDirection="forward" class="menuItem">
            <img src="../assets/Assets/misConductores.png" style="width:28px;padding-right: 5px;"> 
            Destinatarios
          </ion-item>  
          <ion-item routerLink="/tabs/calendario" routerDirection="forward" class="menuItem">
            <ion-icon name="calendar-outline" style="height: 22px;padding-right: 2px;"></ion-icon>
            <!-- <img src="../assets/Assets/misCamiones.png" style="width:28px;padding-right: 5px;">  -->
            Calendario
          </ion-item>
          <ion-item routerLink="/tabs/reporteria" routerDirection="forward" class="menuItem">
            <ion-icon name="print-outline" style="height: 22px;padding-right: 2px;"></ion-icon>
            Reporteria
          </ion-item>
          <ion-item routerLink="/tabs/linea" routerDirection="forward" class="menuItem">
            <ion-icon name="card-outline" style="height: 22px;padding-right: 2px;"></ion-icon> 
            Linea
          </ion-item>
          <ion-item routerLink="/tabs/contactanos" routerDirection="forward" class="menuItem">
            <img src="../assets/Assets/Menu6.png" style="width:28px;padding-right: 5px;"> 
            Contáctanos
          </ion-item>
          <ion-item routerLink="/tabs/notificaciones" routerDirection="forward" class="menuItem">
            <img src="../assets/Assets/Menu7.png" style="width:28px;padding-right: 5px;"> 
            Notificaciones
          </ion-item>
          <ion-item routerLink="/tabs/mis-datos" routerDirection="forward" class="menuItem">
            <img src="../assets/Assets/Menu9.png" style="width:28px;padding-right: 5px;"> 
            Mis datos
          </ion-item>
        </ion-menu-toggle>  
      </ion-list>
    </ion-content>
    <ion-footer style="background: #002758;position:unset">
      <ion-button class="menuItem" expand="block" style="margin-left:18px;margin-right: 18px;--box-shadow:none;--background-hover:none;" (click)='cerrarSesion()'>
        <img src="../assets/Assets/logout.png" style="width:28px;padding-right: 5px;"> 
          Cerrar sesión
      </ion-button>  
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
