.wrapper * {
    height:100%;
    width:100%;
  }
  .ion-slides {
    height: 100%;
  }
  .swiper-slide {
    display: block;
  }
  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  }
  ////
  .menuHeaderSeparator{
    height:1px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    background: white;
  }
  .containerTextToolbar{
    text-align:center;
    padding-top: 65px;
  }
  .menuToolbarText{
    margin:0px;
    font-size:14px;
    font-weight: bold;
    color:white;
  }
  .menuToolbarSubtext{
    margin:0px;
    font-size:12px;
    color:white;
  }
  .menuToolbar{
    --background: #002758;
    height: 100%;
    --border-color:transparent
  }
  .menuContent{
    --background: #002758;
  }
  .menuList{
    background: #002758;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .menuItem{
    --color:white;
    --background: #002758;
    --border-color: transparent;
    --color-activated: white;
    --background-color-activated: white;
  }
  .menuLogo{
    background-color:transparent;
    padding-top: 25px;
  }
  .menuSize{
    --max-width: 50%;
    --width: 50%;
    --ion-backdrop-color:white;
  }
  .removeShadow{
    background-image: none;
    position: unset;
  }
  ///Menu Solicitud///
  .menuSizeRight{
    --max-width: 100%;
    --width: 100%;
    background: #DDD;
    .menu-side-end{
      --width:100%;
    }
  }
  .removeShadowRightMenu{
    position: unset;
  }
  .rightMenuToolbar{
    --background: white;
    height: 100%;
  }
  .removePadding{
    padding:0px;
  }
  .solicitudContent{
    --background: #DDD
  }
  .backButton{
    --background:#002758;
    height:100%;
  }
  .headerText{
    font-size: 20px;
    margin-top:12px;
    color:#002758;
    margin-left:10px;
    font-weight: unset;
  }
  .backIcon{
    color:white;
    font-size: 30px;
  }
  .solicitudCard{
    background:white;
  }
  .AddressROW{
    border: 1px solid #DDD;
  }
  .AddressPin{
    height:24px;
    margin-left:auto;
    margin-right:auto;
    filter: invert(60%) sepia(95%) saturate(2825%) hue-rotate(317deg) brightness(99%) contrast(117%);
  }
  .AddressText{
    font-size: 12px;
    margin: 10px;
  }
  
  .textSolicitud1{
    color:#002758;
    font-size:14px;
    margin:0px;
    font-weight: bold;
  }
  .textSolicitud2{
    color:#AAA;
    font-size:14px;
    margin:0px;
    font-weight: bold;
  }
  .solicitudTextID{
    margin:0px;
    font-size: 10px;
    color: #002758;
  }
  .solicitudMenuSeparator{
    border: 1px solid #DDD
  }
  .buttonSolicitud{
    width:100%;
    --min-height:36px;
    --background:#FF616D;
    --border-color: transparent;
  }
  .inputItem{
    color: black;
    --background: #DDD;
    margin-top:4px;
    --border-color:transparent;
    --highlight-height: 0px;
    border-radius: 100px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .inputIcon{
    filter: invert(0%) sepia(0%) saturate(7489%) hue-rotate(297deg) brightness(96%) contrast(104%);
  }
  
  .inputText{
    margin-left:5px
  }
  