.centerText{
    text-align:center;
}
.datosText{
    color:#002758;
    font-weight: bold;
    font-size: 36px;
}
.datosContent{
    --background:#DDD;
}

ion-header{
    position:unset;
    background:#DDD;
}