.centerText{
    text-align:center;
}
.datosText{
    color:#002758;
    font-weight: bold;
    font-size: 36px;
}
.datosContent{
    --background:#DDD;
}
.textBlue{
    color:#002758;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}
.textGray{
    color:#AAA;
    font-size:14px;
    margin:0px;
}
.userCard{
    margin:0px;
    background:white;
}
.removeSidesPadding{
    padding-left: 0px;
    padding-right: 0px;
}

ion-header{
    position:unset;
    background:#DDD;
}

#datosText{
    font-size:32px;
    text-align: center;
}

.textWhite{
    color:white;
}

.removeSidesPadding > ion-button{
    --background: #002758;
    margin:0px;
}

.rowEdit{
    margin-top:10px;
}