<ion-header>
  <div class="centerText">
    <h1 class="datosText">Mis datos</h1>
  </div>
</ion-header>

<ion-content class="datosContent">
  <ion-refresher slot="fixed" (ionRefresh)="refrescarPagina($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="userCard">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1 class="textBlue">Razón social / Nombre persona natural</h1>
                <h1 class="textGray">{{user?.nombre}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1 class="textBlue">RUT</h1>
                <h1 class="textGray">{{user?.rut}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1 class="textBlue">Correo electrónico</h1>
                <h1 class="textGray">{{user?.email}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1 class="textBlue">Teléfono</h1>
                <h1 class="textGray">{{user?.telefono}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1 class="textBlue">Dirección Comercial</h1>
                <h1 class="textGray">{{user?.direccion}}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h1 class="textBlue">Correo electrónico comercial</h1>
                <h1 class="textGray">{{user?.emailcomercial}}</h1>
              </ion-col>
            </ion-row>
            <ion-row class="rowEdit">
              <ion-col class="removeSidesPadding">
                <ion-button expand="full" (click)="editarDatos(this.user)">
                  <h1 class="textBlue textWhite">EDITAR</h1>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template *ngIf="tipoUsuario == 1;then datosBancariosTransportista"></ng-template>
    <ng-template #datosBancariosTransportista>
      <ion-row>
      <ion-col>
        <h1 id="datosText" class="datosText">Mis datos financieros</h1>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="userCard">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h1 class="textBlue">Nombre del titular de la cuenta</h1>
                  <h1 class="textGray">{{user?.nombretitularcuenta}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1 class="textBlue">RUT del titular de la cuenta</h1>
                  <h1 class="textGray">{{user?.ruttitularcuenta}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1 class="textBlue">Banco</h1>
                  <h1 class="textGray">{{user?.banco}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1 class="textBlue">Tipo de cuenta</h1>
                  <h1 class="textGray">{{user?.tipodecuenta}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1 class="textBlue">Numero de cuenta</h1>
                  <h1 class="textGray">{{user?.numerodecuenta}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1 class="textBlue">Correo electrónico (Para envio de comprobante)</h1>
                  <h1 class="textGray">{{user?.emailcuenta}}</h1>
                </ion-col>
              </ion-row>
              <ion-row class="rowEdit">
                <ion-col class="removeSidesPadding">
                  <ion-button expand="full" (click)="editarDatosFinancieros()">
                    <h1 class="textBlue textWhite">EDITAR</h1>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-template>
    
  </ion-grid>
</ion-content>
