.tabBar{
    --background:#002758;
  }
  .tabSeparator{
    height:65%;
    width:1px;
    background-color: white;
  }
  ion-tab-button{
    --color-focused: #3171e0 !important;
    --color-selected: white;
    --ripple-color: #3171e0 !important;
    --background-focused: #3171e0 !important;
  }
  
  ion-tab-button:focus {
    color: #3171e0 !important;
  }
  
  ion-tab-button:target {
    color: #3171e0 !important;
  }
  
  ion-tab-button:hover {
    color: #3171e0 !important;
  }
  
  ion-tab-button:active {
    color: #3171e0 !important;
  }