<ion-content id="main-content">
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabBar">
    <ion-tab-button tab="mis-ofertas">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Mis Ofertas</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
    <div class="tabSeparator"></div>
    <ion-tab-button tab="mis-servicios">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Mis Servicios</ion-label>
    </ion-tab-button>
    <div class="tabSeparator"></div>
    <ion-tab-button tab="crear-solicitud">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Crear solicitud</ion-label>
    </ion-tab-button>
    <div class="tabSeparator"></div>
    <ion-tab-button (click)="openSideMenu()">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>