<ion-header class="removeShadowRightMenu">
  <ion-grid class="removePadding">
    <ion-row class="removePadding"> 
      <ion-col class="removePadding" size="2">
        <ion-button class="removeSidesPadding removeColorsButton backButton" expand="full" style="--background:#002758;" (click)="closeModal()">
          <ion-icon name="chevron-back-outline" class="backIcon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="removePadding ion-text-left" style="background:white">
        <h1 class="headerText">Editar mis datos</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ContentModal">
  <form [formGroup]="formDatos" (ngSubmit)="guardarDatos()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Razón social / Nombre persona natural</h1>
          <ion-item class="inputItem">
            <ion-input #inputNombre formControlName="nombre" placeholder="Nombre" type="text">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">RUT</h1>
          <ion-item class="inputItem">
            <ion-input #inputRutUsuario formControlName="rut" placeholder="Rut" type="text" (ionInput)="inputRutChange()">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Correo electrónico</h1>
          <ion-item class="inputItem">
            <ion-input #inputEmail formControlName="email" placeholder="Correo electrónico" type="email">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Teléfono</h1>
          <ion-item class="inputItem">
            <ion-input #inputTelefono formControlName="telefono" placeholder="Teléfono" type="tel">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Dirección comercial: (Opcional)</h1>
          <ion-item class="inputItem">
            <ion-input #inputDireccion formControlName="direccion" placeholder="Dirección comercial" type="text">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Correo electrónico comercial: (Opcional)</h1>
          <ion-item class="inputItem">
            <ion-input #inputEmailComercial formControlName="emailcomercial" placeholder="Correo electrónico comercial" type="text">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="removeSidesPadding">
          <ion-button expand="full" style="margin:0px;--background:#002758" type="submit">
            <h1 class="textBlue" style="color:white">GUARDAR</h1>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
