<ion-content style="--background:none">
  <div class="BG" style="background-image: url(../../../assets/Assets/LogIn.jpg);">
    <ion-grid class="loginGrid">
      <form [formGroup]="formRecuperarContra" (ngSubmit)="recuperarPassword()">
        <ion-row class="marginTopRow"></ion-row>
        <ion-row>
          <ion-col style="text-align: center">
            <img class="loginLogo" src="../../../assets/Assets/logo-blanco.png">
          </ion-col>
        </ion-row>
        <ion-row class="marginBottomRow"></ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col class="loginCol"> 
            <div class="loginDiv">
              <h5 class="loginTitle">NUEVA CONTRASEÑA</h5>
                <ion-item class="loginItem">
                  <img class="loginInputImg" src="../../../assets/Assets/ruticon.png">
                  <ion-input #recoverRut formRecuperarContra="rut" class="loginInput" placeholder="Ingrese su rut:" type="text" (ionInput)="inputRutChange()"></ion-input>
                </ion-item>
                <ion-item class="loginItem">
                  <img class="loginInputImg" src="../../../assets/Assets/ruticon.png">
                  <ion-input #recoverCode formRecuperarContra="code" class="loginInput" placeholder="Ingrese el codigo:" type="text"></ion-input>
                </ion-item>
                <ion-item class="loginItem">
                  <img class="loginInputImg" src="../../../assets/Assets/ruticon.png">
                  <ion-input #recoverPassword formRecuperarContra="password" class="loginInput" placeholder="Ingrese contraseña:" type="text"></ion-input>
                </ion-item>
                <ion-item class="loginItem">
                  <img class="loginInputImg" src="../../../assets/Assets/ruticon.png">
                  <ion-input #recoverPassword2 formRecuperarContra="password2" class="loginInput" placeholder="Confirmar contraseña:" type="text"></ion-input>
                </ion-item>
            </div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <br><br><br><br><br><br><br><br>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col>
            <ion-button class="removeColorsButton" style="--background: #FF616D;--border-radius: 0px;" expand="full" >ENVIAR</ion-button>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col size="4">
            <ion-button class="removeColorsButton" style="--background: #666666;--border-radius: 0px;" expand="full" (click)="cancelarModalRecover()">CANCELAR</ion-button>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>
</ion-content>