.marginTopRow{
    margin-top:15%
}
.marginBottomRow{
    margin-bottom:25%
}
.loginLogo{
    height:30%
}
.loginCol {
    height:120px;
    padding: 0px;
}
.loginDiv{
    border:2px solid rgba(255, 255, 255);
    border-radius: 15px;
    text-align: center;
}
.loginInput{
    --background: white;
    color:black;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
}
.loginItem{
    --background: white;
    margin-top:4px;
    --highlight-height: 0px;
    border-radius: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.loginInputImg{
    height:25px;
}
.loginTitle{
    margin-bottom: 10px;
    color: white;
}
.logoLogin{
    left:0;
    right:0;
    margin:0 auto;
    top:10%;
    height:20%;
    position:absolute;
    background-color: transparent;
    z-index:3000001
}
.BG{
    height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;

    background-size: 200% 100%;
    background-position: center bottom;
}
.removeColorsButton{
    --background-hover:unset;
    --background-activated:unset;
    --background-focused:unset;
}