.slideWT {
    height:100%; 
    overflow:hidden
}
.ion-slides {
    height: 100%
}
.colWT{
    height:100%; 
    padding:0px;
    overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.colWT > div{
    height:100%; 
    background: #002758; 
    opacity:0.5;
}

.rowWT{
    height:100%;
    padding:0px
}
.logoInicio{
    left:0;
    right:0;
    margin:0 auto;
    top:25%;
    height:20%;
    position:absolute;
    background-color: transparent;
    z-index:3000001
}
.objetoWT{
    left:0;
    right:0;
    margin:0 auto;
    top:25%;
    height:20%;
    padding-left: 5px;
    position:absolute;
    background-color: transparent;
    z-index:3000001
}
.tituloWT{
    left:0;
    right:0;
    margin:0 auto;
    top:45%;
    position:absolute;
    padding-left: 10px;
    padding-right: 10px;
    z-index:3000002;
    color: white;
    font-size: 30px;
}
.descripcionWT {
    left:0;
    right:0;
    margin:0 auto;
    top:50%;
    position:absolute;
    z-index:3000003;
    font-size: 85%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.descripcionWT2 {
    left:0;
    right:0;
    margin:0 auto;
    top:55%;
    position:absolute;
    z-index:3000003;
    font-size: 85%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.logoInicio {
    height: 6%;
}

.slidesDashboard{
    height: 100%;
}

.colorPrimerDash{
    height:100%;
    width:100%; 
    background:#002758; 
    opacity:0.5;
    position:absolute;
    z-index:3000000;
}

video{
    height: 100%;
}

#colFirstSlide{
    background-image: url(../../../assets/Assets/1.jpg);
}

#colSecondSlide{
    background-image: url(../../../assets/Assets/2.jpg);
}

#colThirdSlide{
    background-image: url(../../../assets/Assets/3.jpg);
}

#colLogin{
    background-image: url(../../../assets/Assets/LogIn.jpg);
}