<ion-header>
</ion-header>
<ion-content fullscreen scroll-y="false" style="height: 100%;">
  <ion-slides class='slidesDashboard'  #slides pager="true" [options]="slideOpts" (ionSlideWillChange)="slideChanged()">
    <ion-slide class="slideWT">
      <ion-grid class="rowWT">
        <ion-row class="rowWT">
          <ion-col class="colWT"> 
            <img class="logoInicio" src="../../../assets/Assets/logo-blanco.png">
            <div class='colorPrimerDash'>
            </div>
            <video #videoWT muted autoplay loop webkit-playsinline playsinline preload="metadata" poster="noposter" type="video/mp4">
              <source src="../../assets/Assets/video.mp4" type="video/mp4">
            </video>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slideWT">
      <ion-grid class="rowWT">
        <ion-row class="rowWT">
          <ion-col id="colFirstSlide" class="colWT">
            <h5 class="descripcionWT">Con esta aplicación podrás acceder a todas las solicitudes disponibles para ti. Podrás ofrecer el precio que tú estimes conveniente según la solicitud a realizar."</h5>
            <h1 class="tituloWT">MÁS TRABAJO</h1>
            <img class="objetoWT" src="../../../assets/Assets/walk2.png">
            <div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slideWT">
      <ion-grid class="rowWT">
        <ion-row class="rowWT">
          <ion-col id="colSecondSlide" class="colWT">
            <h5 class="descripcionWT2">Ahora podrás hacer más eficiente el espacio disponible en tu camión, ya que podrás revisar remotamente si hay solicitudes de transporte en el lugar donde lo necesites.</h5>
            <h1 class="tituloWT">OPTIMIZACIÓN DE CARGA</h1>
            <img class="objetoWT" src="../../../assets/Assets/walk3.png">
            <div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slideWT">
      <ion-grid class="rowWT">
        <ion-row class="rowWT">
          <ion-col id="colThirdSlide" class="colWT">
            <h5 class="descripcionWT2">Cuando estés cursando una solicitud podrás enviar fotografías de la guía de despacho y de tu carga, para asi poder tener un canal de comunicación directo con el cliente y en tiempo real.</h5>
            <h1 class="tituloWT">REGISTRO FOTOGRÁFICO</h1>
            <img class="objetoWT" src="../../../assets/Assets/walk4.png">
            <div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slideWT">
      <ion-grid class="rowWT">
        <ion-row class="rowWT">
          <ion-col id="colLogin" class="colWT">
            <div></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
