<ion-header class="removeShadowRightMenu">
  <ion-grid class="removePadding">
    <ion-row class="removePadding"> 
      <ion-col class="removePadding" size="2">
        <ion-button class="removeSidesPadding removeColorsButton backButton" expand="full" style="--background:#002758;" (click)="closeModal()">
          <ion-icon name="chevron-back-outline" class="backIcon"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="removePadding ion-text-left" style="background:white">
          <h1 class="headerText" *ngIf="obj._id != null">Editar Destinatario</h1>
          <h1 class="headerText" *ngIf="obj._id == null">Agregar Destinatario</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="content">
  <form #form='ngForm' (ngSubmit)="createNewDestinatarioFrecuente(form)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Titulo</h1>
          <ion-item class="inputItem">
            <ion-input placeholder="Titulo del destino frecuente"
              id="titulo" name="titulo" class="form-control"
              required ngModel #destinoFrecuenteTitulo="ngModel" [(ngModel)]="obj.titulo">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Nombre</h1>
          <ion-item class="inputItem">
            <ion-input placeholder="Nombre del destino frecuente"
              id="nombre" name="nombre" class="form-control"
              required ngModel #destinoFrecuenteNombre="ngModel" [(ngModel)]="obj.nombre">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Email</h1>
          <ion-item class="inputItem">
            <ion-input placeholder="Email del destino frecuente"
              id="email" name="email" class="form-control"
              autocomplete="new-password"
              required ngModel #destinoFrecuenteEmail="ngModel" [(ngModel)]="obj.email">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Telefono</h1>
          <ion-item class="inputItem">
            <ion-input placeholder="Telefono"
              id="telefono" name="telefono" class="form-control"
              autocomplete="new-password"
              required ngModel #destinoFrecuenteTelefono="ngModel" [(ngModel)]="obj.telefono">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 class="textBlue">Direccion</h1>
          <ion-item class="inputItem">
            <input 
              placeholder="Direccion" 
              class="form-control googlePlacesInput"
              id="direccion" 
              name="direccion"
              ngx-google-places-autocomplete
              [options]='options' 
              #placesRef="ngx-places"
              autocomplete="new-password"
              required 
              ngModel 
              #destinoFrecuenteDireccion="ngModel"
              [(ngModel)]="obj.direccion"
              (onAddressChange)="updateGoogleMaps($event)"/>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row [hidden]="!selectedAddress">
        <ion-col>
          <google-map #maps [center]="mapCenter" [zoom]="14">
            <map-marker *ngFor="let markerPosition of positions"
              [position]="markerPosition"
              [options]="{draggable: false}"></map-marker>
          </google-map>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" style="--background:#002758" type="submit">
            <h1 class="textBlue" style="color:white">{{obj._id ? 'Guardar':'Crear'}}</h1>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>
