.headerText{
    font-size: 20px;
    margin-top:12px;
    color:#002758;
    margin-left:10px;
    font-weight: unset;
}
.removeShadowRightMenu{
    position: unset;
}
.removePadding{
    padding:0px;
}
.removeSidesPadding{
    padding-right: 0px;
    padding-left: 0px;
}
.removeColorsButton{
    --background-hover:unset;
    --background-activated:unset;
    --background-focused:unset;
}

.backButton{
    height:100%;
    margin:0px;
}
.backIcon{
    color:white;
    font-size: 30px;
}

.content{
    --background:#DDD;
}

.textBlue{
    color:#002758;
    font-size:14px;
    margin:0px;
    font-weight: bold;
}
.textGray{
    color:#AAA;
    font-size:14px;
    margin:0px;
}
.inputItem{
    color: black;
    --background: white;
    margin-top:4px;
    --border-color:transparent;
    --highlight-height: 0px;
    border-radius: 10px;
    margin-top:5px;
    margin-bottom:5px;
}
.inputItem:disabled{
    color: black;
    --background: #AAA;
    margin-top:4px;
    --border-color:transparent;
    --highlight-height: 0px;
    border-radius: 10px;
    margin-top:5px;
    margin-bottom:5px;
}
.googlePlacesInput {
    background: transparent;
    border: none;
    width: 100%;
}
.googlePlacesInput:focus{
    outline: none;
}
google-map ::ng-deep {
    div.map-container {
        height: 300px!important;
        width: 100%!important;
    }
}
