<ion-header >
  <div class="centerText">
    <h1 class="datosText">Destinatarios frecuentes</h1>
  </div>
</ion-header>

<ion-content class="datosContent">
  <ion-refresher slot="fixed" (ionRefresh)="loadDestinosFrecuentes($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewEntry()" style="--background:#FF616D">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row *ngFor="let destinoFrecuente of destinosFrecuente">
      <ion-col>
        <app-ficha [options]="fichaOptions" [valueToDisplay]="destinoFrecuente"></app-ficha>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
