<ion-header style="position:unset;background:#DDD;">
   
</ion-header>
<ion-content style="--background:#DDD">
<ion-grid>
  <ion-row>
    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
